/* 
    Document   : certificatscenter
    Created on : 7 févr. 2013, 19:03:58
    Author     : manuroot
    Description:
        Purpose of the stylesheet follows.
*/
.mywarn{ background-color: #fe8a05;}

 