<div><p>
  
{% for tag in alltags %}
    <!--<span class="badge badge-warning">-->
        <span class="weight-{{ tagweight[tag.name] }}">
             <a href="{{ url('epost_tags_show', {'tag': tag.slug} ) }}">{{ tag.name }}
                 {#({{ tag.posts|length }})#}</a>
    </span>
{% endfor %}</p>
</div>
